.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainimg{
  height:800px;
  width:100%;
}
.cardimg{
  width:140px;
  height:140px;
  padding-left:50px;

}

.img1{
  height:500px;
  width:600px;
  padding-top: 30px;
}

.img2{
  height:400px;
  width:500px;
   
  padding-left: 30px;
}

.p1{
  padding-top: 180px;
  font-size: 20px;
  font-family:"Poppins";
  padding-right: 150px;
}

.p2{
  padding-top: 180px;
  font-size: 20px;
  font-family:"Poppins";
  padding-left: 150px;
}
